body {
	background-color:#00001a;
	font-family:FSEX300;
	font-size:20px;
}

#carte {
	width:975px;
	height: 735px;
	margin:0 auto;
	text-align:center;
	align-content:center;
	background-color: #00001a;
}

ul>li {
	list-style-type:none;
}

.imagedejeu {
	border: 8px solid #624c79;
}

.imagedejeu img{
	width: 100%;
	height: 720px;
	image-rendering: crisp-edges;
}

p {
	color: #624c79;
	border: 8px solid #624c79;
	padding:20px;
	background-color: #000000;
}

h1 {
	color:#624c79;
}

h2 {
	color: #624c79;
}

h3 {
	color:#624c79;
	font-size:90px;
	text-align: center;
}

h4 {
	color:#624c79;
	font-size:20px;
	color: #624c79;
	border: 8px solid #624c79;
	padding:20px;
	background-color: #000000;
}

#news {
	width:975px;
	height: 200px;
	margin:0 auto;
	text-align:center;
	align-content:center;
	background-color: #00001a;
}

#menu li {
	display: inline-block;
	margin-right: 1px ;
	color: #00001a ; 
	margin:35px 20px;
	font-size:35px;
}

#menu li a {
	background: #000000 ;
	border: 8px solid #624c79;
	padding:15px;
}

#menu {
	margin: -8px auto;
	list-style: none ;
	text-align: center ;
	padding: 10px 0;
	position:fixed;
	background-color:#000000;
	border: 8px solid #624c79;
	left:0;
	right:0;
	z-index: 2;
}

.Discord:visited, .Twitter:visited, .Asdelm:visited, .Luckar:visited {
	color: #ffffff;
}
.Top:hover {
	color: #ffffff;
}
.footer a:visited{
	color: #ffffff;
}
.footer a:hover{
	color: #ffffff;
}

@font-face {
	font-family: "FSEX300";
	src: url('FSEX300.ttf');
}

a:link {
	text-decoration:none;
	color:#624c79;
}

a:visited {
	color:#624c79;
}

#menu li:hover,#menu li:hover a:visited,#menu li:hover a {
	border-color:#FFFFFF;
	color:#FFF;
}

.lamp {
	position: relative;
	z-index: 1;
	top: 25.5%;
		left:	58.203% ;
	width:0;
	height:0;
}

.image img {	
	border : 8px solid #624c79;
	image-rendering: crisp-edges;
}

.telecharge {
	border:8px solid #624c79;
	padding:5px;
	background-color : #000000;
}

.telecharge:hover,.dernier:hover {
	color : #FFF;
	border-color:#FFFFFF;
}
.noborder {
	border : none;
	color : #624c79;
}


#liste {
	color:#624c79;
	border: 8px solid #624c79;
	padding:15px;
	background-color:#000000;
}


#log {
	color:#624c79;
	border: 8px solid #624c79;
	padding:20px;
	background-color:#000000;
}

.imagecontact {
	display: inline;
}

.imagecontact img {
	height:200px;
	width:200px;
	border:8px solid #624c79;
	padding:20px;
	background-color: #000;
}

.imagecontact img:hover {
	border-color:#FFFFFF;
}

.blank {
	color: #624c79;
}

.blank:hover {
	color:#FFFFFF;
}

.encadre {
	border:8px solid #624c79;
	padding:20px;
	background-color: #000000;
	color :#624c79;
	
}

.noborder img {
	height: 200px;
	width: 200px;
}

.encadre img {
	border : none;
		float: right;
}

