/*************FONT FACE**************/

@font-face{
  font-family: 'kongtext';
  src:url(font/kongtext.ttf)
}

@font-face{
  font-family: 'gameria';
  src:url(font/GAMERIA.ttf)
}

@font-face{
  font-family: 'pac-font';
  src:url(font/PAC-FONT.TTF)
}

@font-face{
  font-family: 'game_font_7';
  src:url(font/game_font_7.ttf)
}

/***********************************/

@import url("https://fonts.googleapis.com/css?family=Lobster+Two");

@font-face{
  font-family: 'gameria';
  src:url(font/GAMERIA.ttf)
}

html {
    background: no-repeat url("images/victoire.jpg");
    background-size: 100%;
}

h1 {
  font-family: gameria;
  font-size: 10rem;
  text-shadow: 0px 1px 0px white;
  color:#2acf09;
  -webkit-text-stroke: 5px;
  -webkit-text-stroke-color: black;
}

.Victoire {
  position: relative;
  z-index: 0;
  background-color: #11ffee00;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  overflow: hidden;
}

.pulse {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
}

.pulse circle {
  fill: #ff5154;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 2s cubic-bezier(0.5, 0.5, 0, 1);
}
.pulse circle:nth-child(2) {
  fill: #7fc6a4;
  animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1);
}
.pulse circle:nth-child(3) {
  fill: #e5f77d;
  animation: pulse 2s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}

/*************Boutons rejouer, quitter **************/

.rejouer, .quitter{
  display: inline-block;
  border-radius:12px 0 12px 0;
  background:#108717;
  color:black;
  border:5px solid black;
  font: 30px kongtext;
  padding:1% 1% 1% 1%;
  text-decoration: none;
  margin-top:0.5%;
}

#Reponses a:hover{
  background:#519e09;
}