/*************FONT FACE**************/

@font-face{
    font-family: 'kongtext';
    src:url(font/kongtext.ttf)
}

@font-face{
    font-family: 'gameria';
    src:url(font/GAMERIA.ttf)
}

@font-face{
    font-family: 'pac-font';
    src:url(font/PAC-FONT.TTF)
}

@font-face{
    font-family: 'game_font_7';
    src:url(font/game_font_7.ttf)
}

@font-face{
    font-family: 'games';
    src:url(font/Games.ttf)
}

/**************************************/

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

body{
    width:100%;
}
#Titre h1{
    margin-top:3%;
    color:#0663dd;
    font: 120px games;
    text-align: center;
    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: black;
}


#jeu{ 
    position:absolute;
    margin-top: 4%;
    margin-left: 25%;
	border: 5px solid black;
	border-radius: 20px 20px 20px 20px;
    background: #0663dd;
    font: 40px kongtext;
    padding:1.5%;
    box-shadow:8px 8px 8px 8px;
}

#jeu input{
    border-radius: 20px 20px 20px 20px;
    font: 30px kongtext;
    box-shadow:8px 8px 8px 8px;
    padding-top: 1%;
    padding-bottom: 1%;
}



#indice h1{ 
    position:fixed;
    margin-top: 18%;
    margin-left:15%;
	font-family:"kongtext";
	border: 5px solid black;
	border-radius: 20px 20px 20px 20px;
    background: #0663dd;
    padding:1.5%;
}

#quitter a{
    position:absolute;
    background:#950e95;
	border-radius:12px 0 12px 0;
    color:black;
    border:5px solid black;
	font: 45px kongtext;
    padding:1% 1% 1% 1%;
    text-decoration: none;
    margin-top:25%;
    margin-left: 40%;
}

#quitter a:hover{
    background:#0663dd;
}

/**************** Affichage des règles ******/
.regles {
    position: absolute;
    margin-left:96.5%;
    margin-top:0.5%;
    background:#0663dd;
    font-weight:bold;
    border: 4px solid black;
    padding-left: 0.8%;
    padding-right: 0.8%; /* If you want dots under the hoverable text */
  }

.regles h1{
    font: 15px kongtext;

}
  
  /* Tooltip text */
  .regles .reglestext {
    visibility: hidden;
    background-color: #0663dd;
    color: #000000;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    width: 400px;
    top: 135%;
    left: -365px;   
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .regles:hover .reglestext {
    visibility: visible;
  }

  .regles .reglestext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 94%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
  }

/***************** Background *************/

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #890276;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 4s linear infinite;
}

.background li:nth-child(0) {
    left: 15%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 45%;
    width: 93px;
    height: 93px;
    bottom: -93px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 57%;
    width: 76px;
    height: 76px;
    bottom: -76px;
    animation-delay: 8s;
}
.background li:nth-child(3) {
    left: 59%;
    width: 8px;
    height: 8px;
    bottom: -8px;
    animation-delay: 14s;
}
.background li:nth-child(4) {
    left: 31%;
    width: 94px;
    height: 94px;
    bottom: -94px;
    animation-delay: 20s;
}
.background li:nth-child(5) {
    left: 11%;
    width: 33px;
    height: 33px;
    bottom: -33px;
    animation-delay: 14s;
}
.background li:nth-child(6) {
    left: 39%;
    width: 9px;
    height: 9px;
    bottom: -9px;
    animation-delay: 11s;
}
.background li:nth-child(7) {
    left: 71%;
    width: 3px;
    height: 3px;
    bottom: -3px;
    animation-delay: 35s;
}
.background li:nth-child(8) {
    left: 66%;
    width: 61px;
    height: 61px;
    bottom: -61px;
    animation-delay: 19s;
}
.background li:nth-child(9) {
    left: 3%;
    width: 64px;
    height: 64px;
    bottom: -64px;
    animation-delay: 10s;
}
.background li:nth-child(10) {
    left: 14%;
    width: 27px;
    height: 27px;
    bottom: -27px;
    animation-delay: 4s;
}
.background li:nth-child(11) {
    left: 60%;
    width: 28px;
    height: 28px;
    bottom: -28px;
    animation-delay: 14s;
}
.background li:nth-child(12) {
    left: 58%;
    width: 36px;
    height: 36px;
    bottom: -36px;
    animation-delay: 17s;
}
.background li:nth-child(13) {
    left: 18%;
    width: 17px;
    height: 17px;
    bottom: -17px;
    animation-delay: 39s;
}
.background li:nth-child(14) {
    left: 22%;
    width: 91px;
    height: 91px;
    bottom: -91px;
    animation-delay: 60s;
}
.background li:nth-child(15) {
    left: 71%;
    width: 45px;
    height: 45px;
    bottom: -45px;
    animation-delay: 58s;
}
.background li:nth-child(16) {
    left: 4%;
    width: 64px;
    height: 64px;
    bottom: -64px;
    animation-delay: 4s;
}
.background li:nth-child(17) {
    left: 32%;
    width: 89px;
    height: 89px;
    bottom: -89px;
    animation-delay: 27s;
}
.background li:nth-child(18) {
    left: 11%;
    width: 56px;
    height: 56px;
    bottom: -56px;
    animation-delay: 15s;
}
.background li:nth-child(19) {
    left: 65%;
    width: 33px;
    height: 33px;
    bottom: -33px;
    animation-delay: 45s;
}
.background li:nth-child(20) {
    left: 88%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 52s;
}
.background li:nth-child(21) {
    left: 7%;
    width: 19px;
    height: 19px;
    bottom: -19px;
    animation-delay: 73s;
}
.background li:nth-child(22) {
    left: 86%;
    width: 70px;
    height: 70px;
    bottom: -70px;
    animation-delay: 34s;
}
.background li:nth-child(23) {
    left: 67%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 85s;
}
.background li:nth-child(24) {
    left: 30%;
    width: 45px;
    height: 45px;
    bottom: -45px;
    animation-delay: 86s;
}
.background li:nth-child(25) {
    left: 62%;
    width: 36px;
    height: 36px;
    bottom: -36px;
    animation-delay: 95s;
}
.background li:nth-child(26) {
    left: 23%;
    width: 57px;
    height: 57px;
    bottom: -57px;
    animation-delay: 59s;
}
.background li:nth-child(27) {
    left: 88%;
    width: 46px;
    height: 46px;
    bottom: -46px;
    animation-delay: 5s;
}
.background li:nth-child(28) {
    left: 47%;
    width: 21px;
    height: 21px;
    bottom: -21px;
    animation-delay: 86s;
}
.background li:nth-child(29) {
    left: 0%;
    width: 94px;
    height: 94px;
    bottom: -94px;
    animation-delay: 31s;
}
.background li:nth-child(30) {
    left: 17%;
    width: 18px;
    height: 18px;
    bottom: -18px;
    animation-delay: 83s;
}
.background li:nth-child(31) {
    left: 47%;
    width: 23px;
    height: 23px;
    bottom: -23px;
    animation-delay: 39s;
}
.background li:nth-child(32) {
    left: 45%;
    width: 9px;
    height: 9px;
    bottom: -9px;
    animation-delay: 91s;
}
.background li:nth-child(33) {
    left: 3%;
    width: 86px;
    height: 86px;
    bottom: -86px;
    animation-delay: 146s;
}
.background li:nth-child(34) {
    left: 28%;
    width: 6px;
    height: 6px;
    bottom: -6px;
    animation-delay: 100s;
}
.background li:nth-child(35) {
    left: 40%;
    width: 75px;
    height: 75px;
    bottom: -75px;
    animation-delay: 132s;
}
.background li:nth-child(36) {
    left: 49%;
    width: 9px;
    height: 9px;
    bottom: -9px;
    animation-delay: 176s;
}
.background li:nth-child(37) {
    left: 13%;
    width: 19px;
    height: 19px;
    bottom: -19px;
    animation-delay: 17s;
}
.background li:nth-child(38) {
    left: 70%;
    width: 62px;
    height: 62px;
    bottom: -62px;
    animation-delay: 180s;
}
.background li:nth-child(39) {
    left: 39%;
    width: 75px;
    height: 75px;
    bottom: -75px;
    animation-delay: 102s;
}
.background li:nth-child(40) {
    left: 37%;
    width: 16px;
    height: 16px;
    bottom: -16px;
    animation-delay: 105s;
}
.background li:nth-child(41) {
    left: 48%;
    width: 36px;
    height: 36px;
    bottom: -36px;
    animation-delay: 154s;
}
.background li:nth-child(42) {
    left: 60%;
    width: 20px;
    height: 20px;
    bottom: -20px;
    animation-delay: 157s;
}
.background li:nth-child(43) {
    left: 17%;
    width: 90px;
    height: 90px;
    bottom: -90px;
    animation-delay: 19s;
}
.background li:nth-child(44) {
    left: 6%;
    width: 79px;
    height: 79px;
    bottom: -79px;
    animation-delay: 151s;
}
.background li:nth-child(45) {
    left: 13%;
    width: 31px;
    height: 31px;
    bottom: -31px;
    animation-delay: 94s;
}
.background li:nth-child(46) {
    left: 22%;
    width: 67px;
    height: 67px;
    bottom: -67px;
    animation-delay: 37s;
}
.background li:nth-child(47) {
    left: 87%;
    width: 87px;
    height: 87px;
    bottom: -87px;
    animation-delay: 213s;
}
.background li:nth-child(48) {
    left: 71%;
    width: 26px;
    height: 26px;
    bottom: -26px;
    animation-delay: 62s;
}
.background li:nth-child(49) {
    left: 8%;
    width: 84px;
    height: 84px;
    bottom: -84px;
    animation-delay: 81s;
}

