/*************FONT FACE**************/

@font-face{
    font-family: 'kongtext';
    src:url(font/kongtext.ttf)
}

@font-face{
    font-family: 'gameria';
    src:url(font/GAMERIA.ttf)
}

@font-face{
    font-family: 'pac-font';
    src:url(font/PAC-FONT.TTF)
}

@font-face{
    font-family: 'game_font_7';
    src:url(font/game_font_7.ttf)
}

@font-face{
    font-family: 'games';
    src:url(font/Games.ttf)
}

@font-face{
    font-family: 'game_glm';
    src:url(font/GAME_glm.ttf)
}

/************* index.php *************/

body{
    background-color: #00001a;
    background-size: 100%;
}

#Titre, #TitreHistorique, #TitreAdmin{
    color: white;
    padding-top: 0px;
    font: 50px games;
}


.boutonInscription, .boutonConnexion {
    display: inline-block;
	border-radius: 12px 0 12px 0;
	background: #624c79;
    color: #000000;
    border: 5px solid black;
	font: 40px kongtext;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    margin-top: 25%;
}

.boutonConnexion{
    padding-left: 2.9%;
    padding-right: 2.9%;
    margin-right: 2%;
}

.boutonInscription:hover, .boutonConnexion:hover {
    background: #0663dd;
}
/********** Formulaire Connexion/Inscription **************/
/** # --> div
. --> class
*/
#formulaireConnexion h2, #formulaireInscription h2{
	color: #624c79;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#formulaireConnexion{
	position: absolute;
	font-family: "kongtext";
    top: 35%;
    left: 33.1%;
	border: 8px solid #624c79;
	border-radius: 20px 20px 20px 20px;
    background-color: #000000;
    color: #624c79;
    padding: 1.5%;
}

#formulaireConnexion input{
	width: 35%; 
	font-family: "kongtext";
	border: 1px outset;
	border-radius: 10px 10px 10px 10px;
}

p {
    color: #624c79;
}

#formulaireInscription{
	position: absolute;
    font-family: "kongtext";
    width: 30%;
	top: 35%;
	left: 34%;
	border: 8px solid #624c79;
    color : #624c79;
	border-radius: 20px 20px 20px 20px;
    background-color: #000000;
}

#formulaireInscription input{
    width: 100%; 
	font-family: "kongtext";
	border: 1px outset;
	border-radius: 10px 10px 10px 10px;
}

/**************** Titre ******************/

#Titre h1{
    margin-top: 1%;
    color: #0663dd;
    text-align: center;
    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: black;
}

#Titre, a{
    text-decoration: none;
    color: #624c79;
}

#TitreHistorique h1{
    margin-top: 4%;
    color: #624c79;
    text-align: center;
    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: black;
    
}

#TitreAdmin h1{
    margin-top: 0%;
    color: #0663dd;
    text-align: center;
    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: black;
}
/*************** Accueil *****************/

.boutonJouer {
    display: inline-block;
    background: #1fb85a;
	border-radius: 12px 0 12px 0;
    color: black;
    border:5px solid black;
	font: 70px kongtext;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    margin-top: 15%;
}

.boutonJouer:hover {
    background: green;
}

.boutonHistorique, .boutonDeconnexion {
    display: inline-block;
	border-radius: 12px 0 12px 0;
	background: #624c79;
    color: black;
    border: 5px solid black;
	font: 40px kongtext;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    margin-top: 1%;
}

.boutonHistorique:hover, .boutonDeconnexion:hover {
    background-color: white;
}

.boutonDeconnexion{
    margin-right: 2%;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

.pseudo{
    display: inline-block;
    margin-left: 83%;
    background: #0663dd;
	border-radius: 12px 0 12px 0;
    color: black;
    border: 5px solid black;
	font: 15px kongtext;
    padding: 1% 1% 1% 1%;
    margin-top: 0%;
}

/************* defaite.php ************/
.defaite #defaite{
    font: 80px gameria;
    color: #fe1106;
    margin-top : 15%;
    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: black;
}

.defaite{
    background: no-repeat url("images/defaite1.png");
    background-size: 100%;
}

#Question h1{
    display: inline-block;
    font: 50px gameria;
    color: purple;
    margin-top : 3%;
    border-radius: 12px 0 12px 0;
    border: 5px solid black;
    background: green;

}

#Reponses a:hover{
    background: #ff0000;
}
.rejouer, .quitter{
    display: inline-block;
	border-radius: 12px 0 12px 0;
    background: #b0110a;
    color: black;
    border: 5px solid black;
	font: 30px kongtext;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    margin-top: 5%;

}
/************ Historique.php *************/

.tableau, .tableau1 {
    background: #0663dd;
	border-radius: 12px 0 12px 0;
    color: black;
    border: 5px solid #624c79;
	font: 35px kongtext;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 1%;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

.tableau1 {
    margin-top: 8%;
    
}

.quitter1{
    display: inline-block;
    margin-left: 91.5%;
    background: #000000;
	border-radius: 12px 0 12px 0;
    color: #624c79;
    border: 5px solid #624c79;
	font: 15px kongtext;
    padding: 1% 1% 1% 1%;
    margin-top: 0%;
}
.quitter1:hover{
    background: #0663dd;
}


.BodyHistorique{
    background: #00001a;

}

/*************** Admin.php ***************/

#Gestion .boutonGestion{
    display: inline-block;
	border-radius: 12px 0 12px 0;
	background: #624c79;
    color: black;
    border: 5px solid black;
	font: 35px kongtext;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    margin-top: 20%;
    margin-bottom: 1%;
    padding-left: 0.2%;
    padding-right: 0.2%;

}

#Gestion .boutonGestion:hover {
    background: #0663dd;
}

#Deco .boutonDeconnexion{
    display: inline-block;
	border-radius: 12px 0 12px 0;
	background: #624c79;
    color: black;
    border: 5px solid black;
	font: 40px kongtext;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    margin-top: 1%;
    margin-left: 2%;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

#Deco .boutonDeconnexion:hover{
    background: #0663dd;
}

.BodyAdmin{
    background-color: #00001a;
    background-size: 100%;
}

.BodyNfp
{
   background-image: url("images/nfp.png");
   background-repeat: no-repeat;
}

/************** PageAdmin *************/

.quitter2{
    display: inline-block;
    margin-left: 91.5%;
    background: #dd41cf;
	border-radius: 12px 0 12px 0;
    color: black;
    border: 5px solid black;
	font: 15px kongtext;
    padding: 1% 1% 1% 1%;
    margin-top: 0%;
}

.quitter2:hover{
    background: #0663dd;
}

.tableauAdmin{
    background: #00001a;
    border-radius: 12px 0 12px 0;
    color: #624c79;
    border: 2px solid #624c79;
	font: 35px kongtext;
    padding: 1% 1% 1% 1%;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 1%;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

.tableauAdmin button{
    background:#624c79;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: "kongtext";
    border-radius: 10px 10px 10px 10px;
    border: 2px solid  #624c79;

}

.tableauAdmin button:hover{
    background: #0663dd;
}

#modifMdp{
    position: absolute;
    font-family: "kongtext";
    top: 35%;
    left: 28%;
    border: 5px solid #624c79;
    border-radius: 20px 20px 20px 20px;
    background: #0663dd;
    padding: 1.5%;
}

#modifMdp #modifier input{
    background: #624c79;
    border-radius: 10px 10px 10px 10px;
    font: 15px kongtext;
    margin-top: 1%;
}
#modifMdp #modifier input:hover{
    background: #0663dd;
}
#modifMdp h2{
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: black;
}
.BodyMdp{
    background-color: #00001a;
}

.quitter3{
    display: inline-block;
    margin-left: 91.5%;
    background: #000000;
	border-radius: 12px 0 12px 0;
    color: #624c79;
    border: 5px solid #624c79;
	font: 15px kongtext;
    padding: 1% 1% 1% 1%;
    margin-top: 0%;
}

.quitter3:hover{
    background: #0663dd;
}
