body {
	background-color:#00001a;
	font-family:FSEX300;
	font-size:20px;
}

#carte {
	width:975px;
	height: 735px;
	margin:0 auto;
	text-align:center;
	align-content:center;
	background-color: #00001a;
}

.imagetitre {
	width: 100%;
	height: 400px;
	image-rendering: crisp-edges;
}

.recherche {
	width:1000px;
	height: 45%;
	margin:0 auto;
	text-align:center;
	align-content:center;
	left: 0;
	right: 0;
}

.query {
	width: 50%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 0px outset;
	border-radius: 20px;
	border-block-color: #00001a;
	background-color: #ffffff;
}
.search {
	width: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 0px outset;
	border-radius: 20px;
	border-block-color: #00001a;
	background-color: #00001a;
}
.moteur {
	width: 20%;
	padding: 10px;
	margin: 15px;
	display: inline-block;
	border-block-color: #00001a;
	background-color: #ffffff;
}
.goAccueil, .goAccueil:visited{
	display:inline-block;
	width: 35%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: white;
	border-radius: 20px;
	color: black;
	border-block-color: white;
	background-color: white;
}

h1 {
	color:#624c79;
}

h2 {
	color: #624c79;
}

h3 {
	color:#624c79;
	font-size:90px;
	text-align: center;
}

.Discord:visited, .Twitter:visited, .Asdelm:visited, .Luckar:visited {
	color: #ffffff;
}
.Top:hover {
	color: #ffffff;
}
.footer a:visited{
	color: #ffffff;
}
.footer a:hover{
	color: #ffffff;
}

@font-face {
	font-family: "FSEX300";
	src: url('../FSEX300.ttf');
}

a:link {
	text-decoration:none;
	color:#624c79;
}

a:visited {
	color:#624c79;
}

a:visited,#menu li:hover a {
	border-color:#FFFFFF;
	color:#FFF;
}

.blank {
	color: #624c79;
}

.blank:hover {
	color:#FFFFFF;
}
